@charset "UTF-8";
body {
    background-image: url(kabegami.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
}
h2{
    text-align: center;
    color: #114514;
}
h3{
    text-align: center;
    color: red;
}

img{
    height: 300px;
    width: 300px;
    margin-left: 30%;
    margin-right: 30%;
}
div.noodle{
    display:inline-block;
    text-align: left;
    color: blue;
    word-wrap: break-word;
}
