@charset "UTF-8";
input {
  width: 300px;
}
form {
  width: 100%;
  padding: 10px 10px 0 10px;
  margin-bottom: 15px;
  color: #666;
}
input.sousin{
  width: 150px;
  height: 50px;
  cursor:pointer;
}
div.toukou{
  margin-top: 30px;
  text-align: center;
}
div.kensaku{
  margin-top: 30px;
  text-align: center;
}
textarea{
  width: 300px;
  height: 7em;
  line-height: 1em;
}