@charset "UTF-8";
body {
  background-image: url(kabegami.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #FFAA55;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-style: italic; /*文字を斜体にする*/
  text-decoration: underline; /*文字に下線を入れる*/
  letter-spacing: 0.3em; /*文字間隔の変更*/
  color: #114514;
}

p{
  color:darkslateblue;
  text-align:center;
}
div.ver{
  font-size: 14px;
}
div.gazou{
  margin-top: -60px;
}
div.food{
  color:darkblue;
  margin-bottom: 90px;
}
